.footer__wrapper {
}
.footer {
  padding: 0 0 3rem;
}
.footer__logo {
  display: block;
  margin-bottom: 2rem;
}
.footer__subtitle {
  margin-bottom: 2rem;
  font-family: var(--title-font);
  text-transform: uppercase;
  font-size: 2rem;
  padding: 0.5rem;
}
.footer .list, .footer .sub-list {
  margin-bottom: 4rem;
}
.footer .item:not(:last-child) {
  margin-bottom: .5rem;
}
.footer__link, .footer .text {
  font-size: 2rem;
  position: relative;
}
.footer .text {
  margin-bottom: 2rem;
}
.footer__link::after {
  display: block;
  content: '';
  bottom: -.1rem;
  left: 0;
  position: absolute;
  height: 0.1rem;
  width: 0;
  background-color: var(--main-text-color);
  transition: all 0.3s ease-in-out;
}
.footer .text--mb {
  margin-bottom: 2rem;
}
.footer__span {
  font-size: 1.4rem;
}
.item--df {
  display: flex;
  align-items: center;
}
.item--df svg {
  width: 3rem;
  min-width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}
.footer__policies {
  padding-top: 2rem;
}
.footer .item:not(:last-child) {
  margin-bottom: 1.5rem;
}
.footer-social-link__box {
  margin-bottom: 2rem;
}
@media screen and (min-width: 1024px) {
  .footer__link:hover::after {
    width: 100%;
  }
  .footer .sub-list .item:not(:last-child) {
    margin-bottom: 0;
  }
  .footer .sub-list  {
    display: flex;
    justify-content: space-around;
  }
  .footer__subtitle {
    text-align: center;
  }
  .footer__block--jus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 2rem;
  }
  .footer__block--jus::before {
    display: block;
    content: '';
    position: absolute;
    top: -1.5rem;
    width: 15rem;
    height: .1rem;
    background-color: var(--main-text-color);
  }
}